<div class='row-fluid'>
	<div class='span-8'>
		<div class="white">
			<h1>New Team </h1>
			<%= render 'form' %>
			<%= link_to 'Cancel', teams_path, class: 'btn btn-primary' %>
		</div>
	</div>
</div>