<center><h1>Editing Jadwal Pertandingan</h1></center>
<div class='row-fluid'>
	<div class='span-8 '>
		<div class="white">	
			<%= render 'form' %>
			<%= link_to 'cancel', match_schedule_path, class: 'btn btn-warning btn-lg' %>
		</div>
	</div>
</div>



