<div class='row-fluid'>
  <div class='span-8'>
    

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class='clearer '></div>
    <footer class='footer white'>
      <div class='container'>
        <address>
          <strong>An_Raka, Inc.</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">Phone:</abbr> (+628) 896-8822
        </address>
        <address>
          <strong>Full Name</strong><br>
          <a href="https://www.facebook.com/Achilles.Raka">https://www.facebook.com/Achilles.Raka</a>
        </address>
      </div>
    </footer>
  </div>
</div>

<!-- &nbsp; -->