<%= image_tag '/assets/bola.jpg',style: 'width:250px; float:left; img-circle;' %>
   <br><br><br> <h1><br>&nbsp; World Cup</h1>
	 <input onclick="location.href='/users/sign_up'" type="button" value="SIGN UP" style="float: right;"/>
	   <input onclick="location.href='/users/sign_in'" type="button" value="LOGIN" style="float: right;margin-right:5px;"/>

<div style= "clear:both"></div>
<p> adad</p>






























<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<address>
  <strong>An_Raka, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">Phone:</abbr> (+628) 896-8822
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">wiraka.networkindonesia@gmail.com</a>
</address>
