<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">
        <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Collapsible Group Item #2
        </a>
      </h3>
  </div>
</div>
  <div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
        <P align="">
          heard of them accusamus labore sustainable VHS.
        </p>
     </div>
  </div>

  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </h3>
    </div>
  </div>

  <div id="collapseThree" class="panel-collapse collapse">
    <div class="panel-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high .
    </div>
  </div>

  <a data-toggle="modal" href="#myModal" class="btn btn-large btn-primary btn-lg ">Launch demo modal</a>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Catatan</h4>
          </div>
          <div class="modal-body">
            An Raka, Inc
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <div style='width: 500px; margin: 0px auto;'>
      <div class="bs-docs-example">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div style='width: 1000px; height: 550px;'>
                <img src="/assets/ZlatanIbrahimovic.jpg" alt="1" width="500">
              </div>
              
              <div class="carousel-caption">  
                <h4>First Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
            <div class="item carousel-item">
              <div style='width: 1000px; height: 550px;'>
                <img src="/assets/ZlatanIbrahimovic.jpg" alt="2" width="500">
              </div>
              
              <div class="carousel-caption">
                <h4>Second Thumbnail label</h4>
                <p>2</p>
              </div>
            </div>
            <div class="item carousel-item">
              <div style='width: 1000px; height: 550px;'>
                <img src="/assets/pirlo.jpeg" alt="3"  width="620">
              </div>
              
              <div class="carousel-caption">
                <h4>Third Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    </div>

   <div class="bs-docs-example2">
  	<br>
    <div class='clearer '></div>
  	<footer class='footer black'>
  	  <div class='container'>
  	    <address>
  	      <strong>An_Raka, Inc.</strong><br>
  	      795 Folsom Ave, Suite 600<br>
  	      San Francisco, CA 94107<br>
  	      <abbr title="Phone">Phone:</abbr> (+628) 896-8822
  	    </address>
  	    <address>
  	      <strong>Full Name</strong><br>
  	      <a href="https://www.facebook.com/Achilles.Raka">https://www.facebook.com/Achilles.Raka</a>
  	    </address>
  	  </div>
  	</footer> 
  </div>
</div>

  



<!-- 

You can also use the plugin without the accordion markup. Make a button toggle the expanding and collapsing of another element.

<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapse in">...</div>

<div class="item active">
  <img src="..." alt="...">
  <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
</div>


<div id="carousel-example-generic" class="carousel slide">
   Indicators 
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

   Wrapper for slides 
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

 Controls 
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
 --><!-- 


 image pohon
<!DOCTYPE html>
<html>
<head>
<style>
body
{
background-image:url('/assets/img_tree.png');
background-repeat:no-repeat;
}
</style>
</head>

<body>
<h1>Hello World!</h1>
<p>W3Schools background image example.</p>
<p>The background image is only showing once, but it is disturbing the reader!</p>
</body>

</html>
 -->
<!-- 


<!DOCTYPE html>
<html>
<head>

<style>
body
{
background-image:url('img_tree.png');
background-repeat:no-repeat;
background-position:right top;
margin-right:200px;
}
</style>

</head>

<body>
<h1>Hello World!</h1>
<p>W3Schools background no-repeat, set position example.</p>
<p>Now the background image is only shown once, and positioned away from the text.</p>
<p>In this example we have also added a margin on the right side, so the background image will never disturb the text.</p>
</body>

</html>

 <p class="pos_fixed">Some more text</p>