<!-- <div class='span3' style='margin-top:20px;'>
		<%= link_to 'Log out', destroy_user_session_path, class:"btn btn-large btn-block btn-danger", method: :delete %>
	</div> -->
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="accordion-toggle kanan" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <br>
          Collapsible Group Item #2
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <P align="right">
        heard of them accusamus labore sustainable VHS.
      </p>
      </div>
    </div>
  </div>

<div class="white">
	<div></br>
		<p class="colr">List Name Team</p>
			<select multiple="multiple">
			<% @teams.each do |team| %>
				<option value="<%= team.id%>"><%= team.name %></option>
			<% end %>
		</select>
	</div>


	<div>
		<p class="colr">Language</p>
			<select multiple="multiple">
				<option>English</option>
				<option>Indonesian</option>
				<option>Malaysia</option>
			</select>
	</div>

  
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </h3>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>



Button trigger modal 
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg ">Launch demo modal</a>
Modal 
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

	<%= render 'form' %>
	<br>
	<div class='clearer '></div>
	<footer class='footer white'>
	  <div class='container'>
	    <address>
	      <strong>An_Raka, Inc.</strong><br>
	      795 Folsom Ave, Suite 600<br>
	      San Francisco, CA 94107<br>
	      <abbr title="Phone">Phone:</abbr> (+628) 896-8822
	    </address>
	    <address>
	      <strong>Full Name</strong><br>
	      <a href="https://www.facebook.com/Achilles.Raka">https://www.facebook.com/Achilles.Raka</a>
	    </address>
	  </div>
	</footer> 
</div>


  



<!-- 

You can also use the plugin without the accordion markup. Make a button toggle the expanding and collapsing of another element.

<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapse in">...</div>

<div class="item active">
  <img src="..." alt="...">
  <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
</div>


<div id="carousel-example-generic" class="carousel slide">
   Indicators 
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

   Wrapper for slides 
  <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

 Controls 
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
 --><!-- 


 image pohon
<!DOCTYPE html>
<html>
<head>
<style>
body
{
background-image:url('/assets/img_tree.png');
background-repeat:no-repeat;
}
</style>
</head>

<body>
<h1>Hello World!</h1>
<p>W3Schools background image example.</p>
<p>The background image is only showing once, but it is disturbing the reader!</p>
</body>

</html>
 -->
<!-- 


<!DOCTYPE html>
<html>
<head>

<style>
body
{
background-image:url('img_tree.png');
background-repeat:no-repeat;
background-position:right top;
margin-right:200px;
}
</style>

</head>

<body>
<h1>Hello World!</h1>
<p>W3Schools background no-repeat, set position example.</p>
<p>Now the background image is only shown once, and positioned away from the text.</p>
<p>In this example we have also added a margin on the right side, so the background image will never disturb the text.</p>
</body>

</html>

 <p class="pos_fixed">Some more text</p> -->