<div class='row-fluid'>
  <div class='span-8'>  
      <section class="main">
        <h2 class="cs-text">
          <span>w</span>
          <span>e</span>
          <span>l</span>
          <span>c</span>
          <span>o</span>
          <span>m</span>
          <span>e</span>
          <span></span>
        </h2>
      </section>
<!-- 
    <center>
      <div style="position: relative; width: 470px; height: 400px;" id="video-preview_wrapper">
        <object tabindex="0" name="video-preview" id="video-preview" bgcolor="#000000" data="http://assets.liputan6.com/facelift/swf/player510.swf" type="application/x-shockwave-flash" height="100%" width="100%">
          <param value="true" name="allowfullscreen">
            <param value="always" name="allowscriptaccess">
              <param value="true" name="seamlesstabbing">
                <param value="opaque" name="wmode">
                  <param value="netstreambasepath=http%3A%2F%2Fvideo.liputan6.com%2Fstreaming%2Findosiar&id=video-preview&autostart=true&skin=http%3A%2F%2Fassets.liputan6.com%2Ffacelift%2Fskin%2Fglow510.zip&plugins=http%3A%2F%2Fassets.liputan6.com%2Fswf%2Flivestream.swf&playlist=%5B%5BJSON%5D%5D%5B%7B%22image%22%3A%22http%3A%2F%2Fassets.liputan6.com%2Ffacelift%2Fimages%2Fstreaming%2Fstream-indosiar.jpg%22%2C%22title%22%3A%22INDOSIAR%22%2C%22provider%22%3A%22rtmp%22%2C%22streamer%22%3A%22rtmp%3A%2F%2F202.58.124.200%2Findolive%22%2C%22levels%22%3A%5B%7B%22bitrate%22%3A%22320%22%2C%22file%22%3A%22indolive_128%22%7D%2C%7B%22bitrate%22%3A%22480%22%2C%22file%22%3A%22indolive_256%22%7D%2C%7B%22bitrate%22%3A%22650%22%2C%22file%22%3A%22indolive_500%22%7D%5D%7D%5D&livestream.pluginmode=HYBRID&controlbar.position=over" name="flashvars">
        </object>
        <div style="position: absolute; z-index: 10; left: 0px; top: 0px;" id="video-preview_livestream">
        </div>
      </div> -->
        <br />
        <br />Copyright © 2009-2013 - PT INDOSIAR VISUAL MANDIRI Tbk.<br />
      </center>


      <embed align="tope" allowfullscreen="true" allowscriptaccess="sameDomain" bgcolor="#ffffff" devicefont="false" height="787" menu="true" name="MivoTV" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" scale="noscale" scroll="auto" src="http://id.imediabiz.com/MivoTV.swf?r=%27%20+%20math.round%28math.random%28%29%20*%2099999%29%20+%20%27" type="application/x-shockwave-flash" width="100%" wmode="transparent"></embed>

















  <div id="page">
    
    <h1>Minimal Flowplayer setup</h1>
  
    <p>View commented source code to get familiar with Flowplayer installation.</p>
    
    <!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
    <a 
       src="/assets/gokil-Jahill-jangan lihat kedalam lubang- Y_D - YouTube.flv" 
       href="http://pseudo01.hddn.com/vod/demo.flowplayervod/flowplayer-700.flv"
       style="display:block;width:520px;height:330px"  
       id="player"> 
    </a> 
  
    <!-- this will install flowplayer inside previous A- tag. -->
    <script>
      flowplayer("player", "/assets/flowplayer-3.2.7.swf");
    </script>
  
    
    
    <!-- 
      after this line is purely informational stuff. 
      does not affect on Flowplayer functionality 
    -->

    <p>   
      If you are running these examples <strong>locally</strong> and not on some webserver you must edit your 
      <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager04.html">
        Flash security settings</a>. 
    </p>
    
    <p class="less">
      Select "Edit locations" &gt; "Add location" &gt; "Browse for files" and select
      flowplayer-x.x.x.swf you just downloaded.
    </p>
    
    
    <h2>Documentation</h2>
    
    <p>
      <a href="http://flowplayer.org/documentation/installation/index.html">Flowplayer installation</a>
    </p>

    <p>
      <a href="http://flowplayer.org/documentation/configuration/index.html">Flowplayer configuration</a>
    </p>

    <p>
      See this identical page on <a href="http://flowplayer.org/demos/example/index.htm">Flowplayer website</a> 
    </p>
    
  </div>









  <a data-toggle="modal" href="#myModal" class="btn btn-large btn-primary btn-lg ">Launch demo modal</a>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Catatan</h4>
          </div>
          <div class="modal-body">
            An Raka, Inc
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



   <div class="bs-docs-example2">
    <br>
     <div class='clearer '></div>
    	<footer class='footer black'>
    	  <div class='container'>
    	    <address>
    	      <strong>An_Raka, Inc.</strong><br>
    	      795 Folsom Ave, Suite 600<br>
    	      San Francisco, CA 94107<br>
    	      <abbr title="Phone">Phone:</abbr> (+628) 896-8822
    	    </address>
    	    <address>
    	      <strong>Full Name</strong><br>
    	      <a href="https://www.facebook.com/Achilles.Raka">https://www.facebook.com/Achilles.Raka</a>
    	    </address>
    	  </div>
    	</footer> 
     </div>
   </div>

  </div>
</div>


