<div></br>
<p class="colr">Surah/Chapter</p>
<select multiple="multiple">
<% @teams.each do |team| %>
<option value="<%= team.id%>"><%= team.name %></option>
<% end %>
</select>
</div>


<div>
<p class="colr">Language</p>
<select multiple="multiple">
<option>English</option>
<option>Indonesian</option>
<option>Malaysia</option>
</select>
</div>


<%= render 'form' %>