<div class='row-fluid'>
 <div class='span-8'>
 	<div class="white">
	<h1>
		<%= @coach.name %>
	</h1>
	<p></p>
		<%= link_to 'Edit', edit_coach_path(@coach) %>
		<%= link_to 'Cancel', coaches_path %>
	</div>
 </div>
</div>