<div class="navbar navbar-fixed-top">
  <div class="navbar navbar-inverse" >
    <div class="navbar-inner">
      <div class="container" id="full-screen-backoffice">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="http://localhost:3000/">People OF Dream</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="">Live Streaming</a>
            </li>
          </ul>
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"> List Team
                <b class="caret">
                </b> 
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/players">Indonesia</a>
                  <a href="/players">German</a>
                   <a href="/players">Japan</a>
                </li>
              </ul>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"> Match Schedule
                  <b class="caret">
                  </b> 
                </a>
                <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </li>
           </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            </li>
            <br>
            <li class="dropdown">
            <% if user_signed_in? %>
              <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete,
                class: 'dropdown' %>
            <% else %>
              <%= link_to 'SIGN IN', new_user_session_path, class: 'dropdown' %>
            <% end %>
            </li>
            <li class="dropdown">
              <a href="/users/sign_up">SIGN UP</a>
            </li>
          </ul>
        </div>
      </div>  
    </div>  
  </div>
</div>  

<br><br><br>
  <%= image_tag '/assets/aerow_red.png',style: 'width:250px; float:left;' %>
  <div class="page-header " style="border:0px; border-bottom: 3px solid white;">
    <div class="black">
      <br>
      <h1>WELCOME TO MY DREAMS<br><small><div class="black">An Raka,inc</div></small>
      <div style="margin-top:100px;"></div>
      </h1>
    </div>
  </div>

