<div class="navbar navbar-fixed-top">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container" id="full-screen-backoffice">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="http://localhost:3000/">People OF Dream</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="">Live Streaming</a>
            </li>
          </ul>
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"> List Team
                <b class="caret">
                </b> 
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/players">Indonesia</a>
                  <a href="/players">German</a>
                   <a href="/players">Japan</a>
                </li>
              </ul>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"> Match Schedule
                  <b class="caret">
                  </b> 
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="">An Raka, Profile</a>
                  </li>
                </ul>
              </li>
           </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            </li>
            <br>
            <li class="dropdown">
              <a href="/users/sign_in">LOGIN</a>
            </li>
            <li class="dropdown">
              <a href="/users/sign_up">SIGN UP</a>
            </li>
          </ul>
        </div>
      </div>  
    </div>  
  </div>
</div>  
<br><br><br>
  <%= image_tag '/assets/aerow_red.png',style: 'width:250px; float:left;' %>
  <div class="page-header " style="border:0px; border-bottom: 3px solid white;">
    <div class="white">
      <br>
      <h1>WELCOME TO MY DREAMS<br><small><div class="white">An Raka,inc</div></small>
      <div style="margin-top:100px;"></div>
      </h1>
    </div>
  </div>

